thead th{
    text-align: center;
    background-color: #DFF0D8;
    border: solid 1px #d8d8d8 !important;
}

.table td{
    border: 1px solid #ddd;
    padding: 0.5em;
    vertical-align: middle;
}

.actions{
    text-align : center;
}

.DTTT_container{
    text-align: right;
    display: none;

}

a.DTTT_button{
    margin: 10px;
    background-color: #0275d8;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}

a.DTTT_button:hover{
    background-color: #014c8c;
}

a.DTTT_button span{
    color: white;
}

.fg-toolbar{
    width: 100%;
    vertical-align: middle;
}

.dataTables_length, .dataTables_filter{
    width: 50%;
    display: inline-block;
}

.dataTables_length{
    text-align : left;
}

.dataTables_filter{
    text-align: right;
}

.dataTables_filter input{
    border: 1px solid #ddd;
    border-radius: 5px;
}

.dataTables_filter input:hover{
    box-shadow: 0px 0px 15px #FF5000;
}

.dataTables_paginate{
    text-align: center;
}

.dataTables_paginate a{
    margin: 10px;
    padding: 5px;
}

.dataTables_wrapper{
    width: 98%;
    text-align: center;
}

.table-responsive{
    overflow-y: hidden;
}

th input{
    width: 100%;
    text-align: center;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

th input:hover{
    box-shadow: 0px 0px 15px #FF5000;
}

.datatables-add-button
{
    text-align: left;
}
.dataTablesContainer hr{
    border: none;
}
.fg-toolbar {
    padding-top: 15px;
    padding-bottom: 15px;

}

    